$color-body: #29ADA0;
$color-screen: #B9DFCA;
$color-black: #000201;
$color-disk: #034E39;
$color-tongue: #9EA088;
$color-blue: #00497B;
$color-light_blue: #40C3E1;
$color-green: #6DBC61;
$color-yellow: #FDD04F;
$color-red: #EC3B45;
$color-grey: #DFE3E4;
